
$primary-colour: #6cc0cc;
$secondary-colour: white;

$success:  #30a81e;
$warning: #e2bc22;
$danger: #a51212;

$border-colour: #ccc;

$font-family: "Times New Roman", Times, serif;
$font-color: black;