
@import 'style_settings';

.Landing-Main {
    width:100%;
    margin-top: 100px; 
}

.Landing-Content {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 30px 10px;
}