
$text-color: black;
$theme-color: rgb(30, 131, 199);
$theme-color-transparent: rgba($theme-color, 0.2);

$success-color: rgb(2, 168, 66);
$warning-color: rgb(216, 166, 0);
$danger-color: rgb(238, 75, 75);

$xs: 600px;
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
