
.button {
    width: auto;
    display: inline-block;
    box-sizing: content-box;

    color: $theme-color;
    background-color: white;
    
    text-align: center;
    text-decoration: none;

    border-style: solid;
    border-color: $theme-color;
    border-width: 1px;
    border-radius: 5px;

    cursor: pointer;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        padding: 0.5vh 2vh 0.5vh 2vh;
        height: 7vh;
        font-size: 1.3em;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        padding: 10px 15px 10px 15px;
        height: 30px;
        font-size: 1.3em;
    }
}

.button:hover {
    color: white;
    background-color: $theme-color;
    transition: background-color 100ms linear;
}

.button.button-inverse {
    color: white;
    background-color: $theme-color;
    border-color: white;
}

.button.button-inverse:hover {
    color: $theme-color;
    background-color: white;
    transition: background-color 200ms linear;
}

.button.button-xs {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        height: 5.5vh;
        font-size: 1em;
        padding: 0vw 0.5vw;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        height: 15px;
        font-size: 1em;
        padding: 7px 5px;
    }
}

.button.button-sm {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        height: 7vh;
        font-size: 1.3em;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        height: 30px;
        font-size: 1.3em;
        padding: 9px 7px;
    }
}

.button.button-lg {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        height: 8.5vh !important;
        font-size: 1.75em !important;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        height: 75px;
        font-size: 2em;
    }
}

.button.button-success {
    color: white;
    background-color: $success-color;
    border: none;
}

.button.button-warning {
    color: white;
    background-color: $warning-color;
    border: none;
}

.button.button-danger {
    color: white;
    background-color: $danger-color;
    border: none;
}

.button.button-success:hover, .button.button-warning:hover, .button.button-danger:hover {
    opacity: 0.8;
}


.button.button-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        width: 15vw;
        height: 15vw;
        padding: 2vw 2vw;
        border-radius: 1vw;
    } 
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { 
        height: 100px;
        width: 100px;
        padding: 25px;
        border-radius: 5px;
    } 
}

.button.button-box i { 
    display: block;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        font-size: 1.25em; 
    } 
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { 
        font-size: 2em; 
    } 
}

.button.button-box label {
    margin: 0px;
    display: block;
    line-height: 25px;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        font-size: 0.85em;
    } 
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { 
        font-size: 1em; 
    } 
}