
@import 'style-variables';
@import 'buttons';
@import 'status-indicator';
@import 'base-style';
@import 'form-style';


/* Styling for scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $theme-color-transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: $theme-color;
    border-radius: 5px;
}


#desktop-main {
    margin: auto;   
    min-height: 100vh;
    min-width: 1000px;
    max-width: 1350px;

    color: $text-color;
    background-color: white;
    font-family: 'Nunito', 'sans-serif';

    border-left: 2px solid $theme-color;
    border-right: 2px solid $theme-color;
    border-top: none; 
    
    .page-main {
        padding: 25px;
    }

    @import './desktop/fonts';
    @import 'log-view';
    @import 'drink-log-entry';

    @import 'unauthorized-layout';
    @import 'login-form';
    @import 'registration-form';

    @import 'header';
    @import 'index-view';
    @import 'diaries-view';
    @import 'diary-view';
    @import 'create-diary-entry';
    @import 'account-view';
}