

.status {
    display: flex;
}

.status h1, .status h2, .status h3, .status h4, .status h5 {
    margin-left: 10px;
}

.status .status-indicator {
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    background-color: $theme-color;
}

.status .status-indicator.success {
    background-color: $success-color;
}

.status .status-indicator.warning {
    background-color: $warning-color;
}

.status .status-indicator.danger {
    background-color: $danger-color;
}
