
.volume-selector {
    
    .volume-selector-input {
        display: flex;
        margin: 10px 0;
        border: 1px solid $theme-color;
        border-radius: 5px;

        .form-input {
            margin: 0;
            border: none;
            border-radius: inherit;
        }

        input.form-input {
            width: 40%;
        }

        select.form-input {
            border-left: 1px solid $theme-color;
            width: 60%;
        }
    }
}