{% extends "mobile_layout.html" %}

{% block page_content %}

    <div class="app-page-title">
        <h1>My Account</h1>
    </div>

    <div class="account-overview">
        <img src="/static/images/default_profile.png" />
        <h3>Jack Pickett</h3>
    </div>

    <hr />

    <div class="account-about">
        <div class="section-header"><h4>About</h4></div>
        
        <div class="section-content">
            <table>
                <tr>
                    <td class="setting-title">E-mail</td>
                    <td class="setting-value">jackpicket1997@gmail.com</td>
                </tr>
                <tr>
                    <td class="setting-title">Birthday</td>
                    <td class="setting-value">10th May 1997 (Age 21)</td>
                </tr>
                <tr>
                    <td class="setting-title">Gender</td>
                    <td class="setting-value">Male</td>
                </tr>
            </table>
        </div>
    </div>

    <hr />

    <div class="account-settings">
        <div class="section-header"><h4>Settings</h4></div>
        
        <div class="section-content">
            <button class="button button-xs">Change Password <i class="fas fa-pencil-alt"></i></button> 
        </div>
    </div>

{% endblock %}
