{% extends "layout.html" %}

{% block page_title %}
    My Drinks Diary
{% endblock%}


{% block desktop_nav %}
    <a class="button button-box" href="/diary/entry"> 
        <i class="fas fa-plus"></i>
        <label>New Entry</label>
    </a>

    <a class="button button-box" href="/diary/entry"> 
        <i class="fas fa-book"></i>
        <label>Exercise Log</label>
    </a>
{% endblock %}


{% block page_content %}

    <div id="diary_management_options">

        <a class="button button-box">
            <i class="fas fa-plus"></i>
            <label>New Entry</label>
        </a>

        <a class="button button-box">
            <i class="fas fa-book"></i>
            <label>Exercise Log</label>
        </a>

    </div>



    <table id="diary-view">

        <tr class="diary-key">
            <td><b>Key:</b> <i class="fas fa-cocktail"></i> Alcoholic | <i class="fas fa-coffee"></i> Caffeinated</td>
        </tr>
        
        
        <tr class="diary-entry-mobile"><td>

            <div class="entry-content">
                <div class="entry-thumbnail"><img  /></div>
                <div class="entry-info"><h5>Matcha Tea</h5><label>50 ml</label></div>
                <div class="entry-key"><i class="fas fa-cocktail"></i><i class="fas fa-coffee"></i></div>
            </div>

            <div class="entry-footer">
                <a href="/diary/entry" class="button button-xs"><i class="fas fa-pencil-alt"></i> Edit</a>
                <div class="entry-creation-date">15:15 10th May</div>
            </div>

        </td></tr>

        <tr class="diary-entry-desktop"><td>

            <div class="entry-date"><h6 class="time">15:15</h6><h6 class="date">16th May</h6></div>

            <div class="entry-thumbnail"><img /></div>

            <div class="entry-info">
                <div class="info"><h4 class="drink">Matcha Tea</h4><h5 class="volume">50 ml</h5></div>
                <div class="key"><i class="alcoholic fas fa-cocktail"></i><i class="caffeinated fas fa-coffee"></i></div>
            </div>

            <div class="entry-action">
                <a class="button button-box" href="/diary/entry"> 
                    <i class="fas fa-pencil-alt"></i> <label>Edit</label>
                </a>
            </div>

        </td></tr>


        <tr class="diary-entry-desktop"><td>

            <div class="entry-date"><h6 class="time">15:15</h6><h6 class="date">16th September</h6></div>

            <div class="entry-thumbnail"><img /></div>

            <div class="entry-info">
                <div class="info"><h4 class="drink">Matcha Tea</h4><h5 class="volume">50 ml</h5></div>
                <div class="key"><i class="alcoholic fas fa-cocktail"></i><i class="caffeinated fas fa-coffee"></i></div>
            </div>

            <div class="entry-action">
                <a class="button button-box" href="/diary/entry"> 
                    <i class="fas fa-pencil-alt"></i> <label>Edit</label>
                </a>
            </div>

        </td></tr>
        
    </table>

{% endblock %}

 

            
         