{% extends "layout.html" %}

{% block page_title %}
    Study 1: Diary Entry
{% endblock %}


{% block page_content %}

    <form id="diary-entry-form" onSubmit="return false">
                        
        <input type="text" class="form-input" id="drink-name" value="" placeholder="Drink name..." />
        
        <input type="number" class="form-input" id="consumed-volume" value="" placeholder="Volume..." />
        
        <select class="form-input" id="alcohol-status" >
            <option value="false" selected>Non-alcoholic</option>
            <option value="true">Alcoholic</option>
        </select>

        <select class="form-input" id="caffeine-status">
            <option value="false" selected>Caffeine free</option>
            <option value="true">Caffeinated</option>
        </select>

        <div class="form-operations">
            <button type="button" class="button button-danger button-sm" id="cancel" onClick="location.href='/diary'">Cancel</button>
            <button type="submit" class="button button-success button-sm" id="submit">Submit</button>
        </div>

    </form>

{% endblock %}
  