{% extends "mobile_layout.html" %}


{% block page_content %}

<nav class="nav">
    <ul>

        <li>
            <a href="/manage_diaries" class="button button-nav">
                <i class="fas fa-book"></i>
                <span>View Diaries</span>
            </a>
        </li>

        <li>
            <a href="/account" class="button button-nav">
                <i class="fas fa-user-alt"></i>
                <span>My Account</span>
            </a>
        </li>

    </ul>
</nav>

{% endblock %}