
#diaries-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vh;
    }

    table {
        width: 100%;
        min-height: 20vh;
        background-color: $theme-color-transparent;
        table-layout: fixed;

        tr {
            display: block;
            margin: 0.5vh 0;
        }

        tr.entry td {
            width: 100%;
            display: flex;
            flex-direction: column;
        
            padding: 2vw 1vw;
            box-sizing: border-box;

            background-color: white;
            border-top: 1px solid $theme-color;
            border-bottom: 1px solid $theme-color;

            .entry-info {
                display: flex;
                flex-direction: column;
            }

            .entry-footer {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                margin-top: 2vh;
            }

        }

        tr.create-entry {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 2vh 0;
            
            text-align: center;
            
            a {
                color: $theme-color;
                text-decoration: none;    
            }

            i {
                display: block;
            }
        }

    }

}

