
#index {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#index #index-nav {
    table-layout: fixed;
    border-collapse: collapse;

    tr:nth-child(odd) {
        border-bottom: 1px solid $theme-color;
    }

    td:nth-child(odd) {
        border-right: 1px solid $theme-color;
    }

    tr:nth-last-child(1) {
        border: none;
    }

    td a {
        width: 35vw;
        height: 35vw;
        padding: 5vw 5vw;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        color: $theme-color;
        text-decoration: none;
        box-sizing: content-box;

        i { 
            display: block;
            font-size: 3em;
            margin-bottom: 2vw;
        }
    }

    td a:active {
        color: white;
        background-color: $theme-color;
    }

    td a.log-out {
        color: $danger-color;
    }

    td a.log-out:active {
        color: white;
        background-color: $danger-color;
    }

}