
#app-header {
    display: flex;
    background-color: $accent-color;
    border-bottom: 1px solid black;
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        height: 12vh;
        justify-content: center;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        height: 100px;
        justify-content: space-between;
    }
}

#app-header .header-logo { 
    height: 100%; 
}

#app-header .header-user-account {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        display: none;    
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        display: flex;
        width: 250px;
        min-width: 250px;
        text-decoration: none;
        margin: 25px 0px 25px 25px;
        padding-left: 8px;
        border-left: 1px solid white;
    }
}

#app-header .header-user-account img {
    width: 50px;
    height: 50px;
    margin-right: 10px; 
    border-radius: 50%;
}

#app-header .header-user-account #fullname {
    color: white;
    font-weight: 500;
    font-size: 1.25em;
    margin-bottom: 3px;
}

#app-header .header-user-account #my-account {
    color: white;
    font-weight: 200;
}


#app-main {
    width: 100%;
    display: flex;
    align-content: flex-start;
    background-color: white;
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        flex-direction: column;
        min-height: calc(100vh - 12vh);
        min-width: 100vw;
        width: 100vw;
        margin: 0;
    } 
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { 
        min-height: calc(100% - 101px);
        align-items: stretch;
        flex-direction: row;
    } 
}


#app-desktop-nav {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        display: none;
    } 

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { 
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 300px;
        padding: 35px;
        background-color: $transparent-accent;
    } 
}


#app-main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) { 
        padding: 0 0 3vh 0; 
    } 

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { } 
}


#app-account-info {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        padding: 1vh;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: $accent-color;
        box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.4);
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        display: none;
    }
}

#app-account-info img {
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}

#app-account-info h2 {
    margin-left: 2vw;
    color: $secondary-color;
}

#app-account-info button {
    margin-left: auto;
    width: 25vw;
    height: 12vw;
    font-size: 4vw;
}


#app-utility {
    display: flex;
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) { 
        padding: 2vw; 
        justify-content: space-between;
    } 

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { 
        padding: 25px; 
        justify-content: flex-end;
    } 
}

#app-utility .back {
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: $sm) { 
        display: none; 
    } 
}


#app-page-title h1 {
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        margin: 0;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        margin: 0 0 50px 25px;
    }
}


#app-page-content {
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        margin: 0;
        width: 100%;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        margin: 10px;
        width: calc(100% - 20px);
    }
}
