
#create_diary {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
}



#existing_diaries {
    @media only screen and (max-width: $xs) {
        width: 100%;
        margin: 2vh 0 0 0;
    } 

    @media only screen and (min-width: $sm) {
        width: 100%;
        margin: 25px 0 0 0;
    }
}

#existing_diaries tr.entry_row {
    display: flex;
    flex: wrap;
    width:100%;
    
    @media only screen and (max-width: $xs) {
        flex-direction: column;    
    } 

    @media only screen and (min-width: $sm) {
        flex-direction: row;
    }   
}

#existing_diaries tr.entry_row td.entry {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: $xs) {
        width: 100%;
    } 

    @media only screen and (min-width: $sm) {
        width: 50%;
        padding: 20px;
    }
}

#existing_diaries tr.entry_row td.entry:nth-child(even) { 
    @media only screen and (max-width: $xs) {
        background-color: rgb(236, 255, 255) 
    }
}

#existing_diaries tr.entry_row td.entry:nth-child(odd) { 
    @media only screen and (min-width: $sm) {
        border-right: 1px solid lightgrey;
    }
}

#existing_diaries tr.entry_row:nth-child(odd) td.entry { 
    @media only screen and (min-width: $sm) {
        border-bottom: 1px solid lightgrey;
    }
}




#existing_diaries tr.entry_row td.entry .entry_header {
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
    width: 100%;
}


#existing_diaries tr.entry_row td.entry .entry_content { 
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        padding: 2vw 0 2vw 7vw; 
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        padding: 20px 0 20px 0px;
    }
}

#existing_diaries tr.entry_row td.entry .entry_content h3 { 
    margin: 0;
}

#existing_diaries tr.entry_row td.entry .entry_content span {
    display: inline-block;
    font-weight: 200;
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {    
        margin-right: 2vw;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        margin-right: 20px;
    }
}

#existing_diaries tr.entry_row td.entry .entry_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: $xs) {
        padding: 0 3vw 0 3vw;
    } 

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: $sm) {
        
    }
}

#existing_diaries tr.entry_row td.entry .entry_footer .activity_status { 
    font-weight: 200; 
}

#existing_diaries tr.entry_row td.entry .entry_footer .activity_status .status { 
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: $xs) {
            margin: 5px 0 0 3vw;
        } 
    
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: $sm) {
            margin: 5px 0 0 30px;
        }
}

#existing_diaries tr.entry_row td.entry .entry_footer .activity_status p {
    display: inline-block; 
    margin-bottom: 15px; 
}